{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if request.resolver_match.url_name == 'item_list' %}
    <title>Goods</title>
    {% else %}
    <title>{{ object.name }}</title>
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/pricing.css' %}" rel="stylesheet">

</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Продажа товаров</h5>
    <nav class="my-2 my-md-0 mr-md-3">


<a href="{% url 'items:order_detail' order_pk=request.session.order_pk %}" class="btn btn-outline-primary">Текущий заказ</a>


        <a class="p-2 text-dark" href="{% url 'items:item_list' %}">На главную</a>
    </nav>
</div>

{% if request.resolver_match.url_name == 'item_list' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h5 class="display-4">Товары</h5>
</div>
{% endif %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Наверх</a>
            </p>
            <p>&copy; 2023 - {% now 'Y' %}</p>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script>
        Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
        });
    </script>
</body>
</html>
