{% extends 'items/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    {% for object in object_list %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">
              <a href="{% url 'items:item_detail' pk=object.pk %}">{{ object.name }}</a>
            </h4>
          </div>
          <div class="card-body">
            {% if object.currency == 'RUB' %}
              <h5 class="card-title pricing-card-title">{{ object.price }} ₽</h5>
            {% elif object.currency == 'USD' %}
              <h5 class="card-title pricing-card-title">${{ object.price }}</h5>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
