{% extends 'items/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    {% if object.currency == 'RUB' %}
                        <h5 class="card-title pricing-card-title">{{ object.price }} ₽</h5>
                    {% elif object.currency == 'USD' %}
                        <h5 class="card-title pricing-card-title">${{ object.price }}</h5>
                    {% endif %}

                    <p>{{ object.description }}</p>

                    <form action="{% url 'items:add_to_order' pk=object.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-primary mb-2">Добавить в заказ</button>
                    </form>

                    <a href="{% url 'items:make_product_payment' pk=object.pk %}" class="btn btn-sm btn-outline-success mb-2">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
