{% extends 'items/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    {% if object.currency == 'RUB' %}
                    <h5 class="card-title pricing-card-title">{{ object.price }} ₽</h5>
                    {% elif object.currency == 'USD' %}
                    <h5 class="card-title pricing-card-title">${{ object.price }}</h5>
                    {% endif %}

                    <p>{{ object.description }}</p>

                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" id="buyButton">Buy</button>
                </div>
            </div>
        </div>
    </div>
</div>
