{% extends 'items/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Payment Successful</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">Thank you for your purchase!</h5>
                    <p>Your payment has been successfully processed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
